// Support wider pages
@media (min-width: 50rem) {
  .main {
    max-width: none;
  }
  .side-bar {
    max-width: 380px;
  }
}
@media (min-width: 1298px) {
  .main {
    margin-left: 380px;
  }
}

legend {
  padding: 0px 10px;
}

label {
  font-weight: 600;
  font-variant: small-caps;
}
